<div>
  <input type="text" placeholder="name">
  <button>Add</button>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="data" class="example-table"
         matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Product Name Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Product Price Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row">$ {{row.name}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="nameList"></tr>
    <tr mat-row *matRowDef="let row; columns: nameList;"></tr>
  </table>
</div>